<p id="notice"><%= notice %></p>

<p>
  <strong>Enderecoentrega:</strong>
  <%= @pedido.enderecoEntrega %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @pedido.valor %>
</p>

<p>
  <strong>Status:</strong>
  <%= @pedido.status %>
</p>

<p>
  <strong>Loja:</strong>
  <%= @pedido.loja_id %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @pedido.usuario_id %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @pedido.produto_id %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
